body{background-color: black;
} 

header{background-color:rgb(255, 255, 255);
    position: sticky;
    font-family: "DM Sans", sans-serif;
}

h1{color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 90px; 
    padding: 0px 9px;
    margin: 15px;
}

h2{color: rgb(255, 255, 255);
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 90px; 
    padding: 0px 14px;
    margin: 0;
}

hr{color: rgb(255, 255, 255)}

a{font-size: 15px; 
    color: rgb(255, 255, 255); 
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    padding: 0px 0px;
    margin: 10px;
}

.navigation{
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 7vh;
    justify-content: flex-start;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            }

        li {
            float: right
            }

        a {display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 15pt;
            }

    }

